@import url('https://fonts.googleapis.com/css2?family=Federo&family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-animated';

:root {
  scroll-behavior: smooth;
  --color-pink: #f2969e;
  --color-yellow: #fbc971;
  --color-blue: #5ec0d1;
  --color-purple: #9785bd;
  --color-green: #bcd079;
  --color-text: #666666;
}
html {
  font-size: 16px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.App:has(isMenuOpen) {
  overflow: hidden;
}

:target:before {
  content: '';
  display: block;
  height: 120px;
  margin: -120px 0 0;
}

h1 {
  font-family: Federo, sans-serif;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (width >= 64rem) {
    font-size: 2.25rem;
  }
}

h2 {
  font-family: Federo, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (width >= 64rem) {
    font-size: 1.5rem;
  }
}

p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.524rem;
  letter-spacing: 0%;
  color: var(--color-text);
  @media (width >= 64rem) {
    font-size: 1.125rem;
  }
}
