@import url('https://fonts.googleapis.com/css2?family=Federo&family=Handlee&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
:root {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.App:has(isMenuOpen) {
  overflow: hidden;
}

:target:before {
  content: '';
  display: block;
  height: 120px;
  margin: -120px 0 0;
}

h1 {
  font-family: Federo, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2 {
  font-family: Federo, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.38px;
  letter-spacing: 0%;
  color: #666;
}
